.pagination {
  display: flex;
  padding: 0;
	margin: 0;
  list-style: none;

  // .pagination 

  &__item:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  &__item a {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    color: #000099;
    text-decoration: none;
  }

  &__item--current a {
    border: 1px solid #000099;
    font-weight: bold;
    color: #ffffff;
    background-color: #000099;
  }
  
  &__item--disabled a {
    border: 1px solid #eeeeee;
		color: #dddddd;
  }
  
  &__item a[href]:hover,
  &__item a[href]:active {
    border: 1px solid #000099;
	  color: #000000;
  }

}