.form-search {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  box-sizing: border-box;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    color: #aaa;
  }

  &__input {
    padding-left: 30px;
    width: 200px;
  }

  &__btn {
    width: 90px;
  }

}